@using Microsoft.AspNetCore.Identity
@using StudentNotes_MVC_SebastianPytel.Areas.Identity.Data

@inject SignInManager<StudentNotesUser> SignInManager
@inject UserManager<StudentNotesUser> UserManager


@if (SignInManager.IsSignedIn(User)) {
    var user = await UserManager.GetUserAsync(User);
    string name = "";
    name = user.Name;

    string title = "";

    if (name != "")
    {
        title = name + "'s notes";
    }
    else
    {
        title = "Your notes";
    }
    
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            @*<a class="btn btn-info @Html.(actions: "Index", controllers: "StudentNotes")" asp-controller="StudentNotes" asp-action="Index" title="Manage">@name's notes</a>*@
            @*<a class="btn btn-info @(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active" : "")" asp-controller="StudentNotes" asp-action="Index" title="Your notes">@name's notes</a>*@
            <a class="btn btn-info" asp-controller="StudentNotes" asp-action="Index" title="Your notes">@title</a>
        </li>
    </ul>    
    <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item">
            @*<a class="btn btn-info" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @name aka @UserManager.GetUserName(User)!</a>*@
            <a class="btn btn-info" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Settings</a>
        </li>
        <li class="nav-item">
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "StudentNotes", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
                <button type="submit" class="btn btn-info">Logout</button>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav ml-auto flex-row justify-content-center justify-content-sm-end">
        @*<li class="nav-item mx-1 my-1 my-sm-0"><a class="btn btn-light" asp-area="Identity" asp-page="/Account/Login">Sign in</a></li>
        <li class="nav-item mx-1 my-1 my-sm-0"><a class="btn btn-outline-secondary" asp-area="Identity" asp-page="/Account/Register">Sign up</a></li>*@
        <li class="nav-item mx-1 my-1 my-sm-0"><a class="btn btn-dark" asp-area="Identity" asp-page="/Account/Login">Sign in</a></li>
        <li class="nav-item mx-1 my-1 my-sm-0"><a class="btn btn-outline-light" asp-area="Identity" asp-page="/Account/Register">Sign up</a></li>
    </ul>
}