@page
@model RegisterModel
@{
    ViewData["Title"] = "Sign up";
}

<div class="d-flex flex-column min-vh-100 ">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <i class="fas fa-book-reader"></i>
                <span class="navbar-brand mb-0 px-1 h1">StudentNotes 1.0</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <div class="d-flex flex-grow-1 flex-column align-items-center justify-content-center text-center p-3">
        <h2><span class="font-weight-bold">@ViewData["Title"]</span></h2>
        <hr />
        <section>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="form-group">
                    <input asp-for="Input.Email" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Input.Email)" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.Password" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Input.Password)" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Input.ConfirmPassword)" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <hr />
                <div class="form-group">
                    <input asp-for="Input.Name" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Input.Name)" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.Surname" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Input.Surname)" />
                    <span asp-validation-for="Input.Surname" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-success">Sign up</button>
            </form>
            <br />
            <div class="form-group">
                <p>
                    Already have an account? <a asp-page="./Login" class=""><span class="font-weight-bold">Sign in</span></a>
                </p>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
